*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.wrapper{
    background-image: url(grunge-vintage-old-paper-background.jpg);
    background-color:rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
  
    overflow-x:auto;2
}
.ayah{
    margin:0 auto;
   
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: visible;
    width: 70rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 3px 3px 5px 0px rgb(143, 137, 137);
    background-image: url("new\ \(1\).jpeg");

}
#quran{
    


    color:rgb(56, 53, 48);
    font-family:'sans-serif';
    font-style:normal; 
    font-size:larger;
    font-weight:bolder;
    letter-spacing: ;

}
#quranint{
font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 200;
}